body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.App {
  font-family: sans-serif;
  text-align: center;
  margin: 20px;
}

.dropzone {
  border: 2px dashed #cccccc;
  padding: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.subtitle-container {
  max-height: 360px;
  overflow-y: scroll;
  padding: 20px;
  border: 1px solid #ccc;
  margin: 0 0 20px;
  background-color: #f9f9f9;
}

.subtitle {
  padding: 10px;
  font-size: 16px;
  line-height: 1.5;
}

.subtitle.current {
  font-size: 24px;
  font-weight: bold;
  background-color: #e0f7fa;
}

.timestamp {
  display: block;
  font-size: 10px;
  color: gray;
  margin: 0 0 8px;
}

.start-subtitles {
  margin: 0 0 20px;
}

input[type="range"] {
  width: 300px;
  margin-left: 10px;
}